services:

  hostel:
    build:
      context: .
      dockerfile: Dockerfile_hostel
    container_name: hostel-app
    ports:
      - "8001:8001"
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - app-network

  payment_service:
    build:
      context: .
      dockerfile: Dockerfile_payment
    container_name: payment-app
    environment:
      - FLASK_ENV=development
      - PYTHONUNBUFFERED=1
    networks:
      - app-network

  prometheus:
    build:
      context: .
      dockerfile: Dockerfile_prometheus
    container_name: prometheus-app
    volumes:
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - app-network

  grafana:
    image: "grafana/grafana"
    ports:
      - "3000:3000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  prometheus_data: